[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
celery = {version = "*", extras = ["redis"]}
redis = "*"
hiredis = "*"
uwsgi = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
