<!doctype html>
<title>{% block title %}{% endblock %} - Flask celery JS example</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<body>
<nav>
  <h1>Flask celery JS example</h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/static/js/app.js"></script>

</body>
</html>